/* ===== RESET SIMPLE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BASE ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #151e31;
    color: #e5e7eb;
}

/* ===== HEADER ===== */
header {
    background-color: #1a1a1a; /* fond de l'en-tête */
    display: flex;
    align-items: center;
    padding: 15px;
}

header .logo {
    height: 50px; /* taille du logo */
    margin-right: 20px;
    background-color: #1a1a1a; /* même couleur que le header */
    display: block;
}

/* ===== NAVIGATION ===== */
.nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav li a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: bold;
    transition: color 0.2s;
}

.nav li a:hover {
    color: #38bdf8;
}

/* ===== SECTIONS ===== */
section {
    padding: 40px;
    border-bottom: 1px solid #1e293b;
}

section h1 {
    margin-bottom: 20px;
    color: #38bdf8;
}

section h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #93c5fd;
}

section p {
    margin-bottom: 10px;
}

/* ===== LIENS ===== */
a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===== INPUT FLAGS ===== */
.flag-input {
    width: 320px;
    padding: 10px 14px;
    margin: 8px 0;

    background-color: #020617;
    color: #e5e7eb;

    border: 1px solid #38bdf8;
    border-radius: 6px;

    font-family: monospace;
    font-size: 15px;
}

.flag-input::placeholder {
    color: #64748b;
}

.flag-input:focus {
    outline: none;
    box-shadow: 0 0 8px #38bdf8;
}

/* ===== BOUTONS ===== */
.flag-button {
    padding: 8px 16px;
    margin-bottom: 6px;

    background-color: #020617;
    color: #38bdf8;

    border: 1px solid #38bdf8;
    border-radius: 6px;

    font-family: monospace;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.flag-button:hover {
    background-color: #38bdf8;
    color: #020617;
    box-shadow: 0 0 10px #38bdf8;
}

/* ===== RESULTATS ===== */
.flag-result {
    font-family: monospace;
    font-size: 14px;
    margin-top: 4px;
}


p.VLC{
    color: #38bdf8;
}